* {
  margin: 0px;
}

nav {
  text-align: center;
}

.pokedex-header {
  background-color: rgb(120, 158, 238);
  padding: 10px;
  color: white;
  width: 90%;
  margin: 0 auto;
  font-size: 24px;
}

.searchbar-container {
  width: 91%;
  margin: 20px auto;
}

.input-group {
  display: flex;
}

.searchbar {
  width: 100%;
  margin: 0 auto;
  display: flex;

  justify-content: flex-end;
}

.searchbar input {
  width: 100%;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(73, 80, 87);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
}

.searchbar-btn button {
  display: flex;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 123, 255);
  border-color: rgb(0, 123, 255);

  display: inline-block;
  color: rgb(33, 37, 41);
  text-align: center;

  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.container-pokemon-card {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.pokemon-card {
  width: 100%;
  display: flex;
}

.pokemon-image-container {
  width: 100%;
}

.card-body {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-image {
  width: 70%;
}

.card-top {
  display: flex;
  width: 100%;
}

.pokemon-type {
  display: flex;
  margin: 0 auto;
}

.pokemon-type-text {
  margin: 3px;
  padding: 5px;
  background-color: #d3d3d3;
  cursor: pointer;
  color: #212529;
  font-size: 16px;
}

.pokemon-details {
  width: 100%;
  margin: 20px;
  font-size: 24px;
  color: #212529;
}

.container-subcard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-stats {
  font-size: 18px;
  margin-bottom: 20px;
}

.pokemon-stats-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212529;
  font-size: 18px;
}

.pokemon-ability-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}
